* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    color: white;
    font-weight: 300;
    background-color: #333;
}

#mainContainer {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#mainCalcContainer {
    background-color: black;
    display: flex;
    flex-direction: column;
    width: 280px;
    padding: 100px 10px 40px 15px;
    border-radius: 36px;
}

#btnContainer {
    display: flex;
}


#leftBtnContainer {
    display: flex;
    flex-direction: column;
    width: 300px;

}

button {
    width: 60px;
    height: 60px;
    margin: 5px;
    border-radius: 100%;
    font-size: 32px;
    font-weight: 400;
    border: none;
    cursor: pointer;
    transition: 0.3s all;
}

.numBtns, #decimalBtn {
    background-color: #333;
}

.numBtns:active, #decimalBtn:active {
    background-color: #777;
}

#zeroBtn {
    width: 130px;
    border: none;
    border-radius: 60px;
    padding-left: 20px;
    text-align: left;

}

.operatorBtns, #equalBtn {
    background-color: orange;
    font-weight: 500;
    font-size: 40px;
}

.pressedOperatorBtn {
    color: orange;
    background-color: #fff;
}

.operatorBtns:active, #equalBtn:active {
    background-color: rgb(255, 210, 125);
}

#topBtnsContainer {
    display: flex;
    background-color: black;
}

#topBtnsContainer > button {
    background-color: #b3b3b3;
    color: #333;
}

#topBtnsContainer > button:active {
    background-color: #e3e3e3;
}

#display {
    padding: 10px;
    font-size: 65px;
    text-align: right;
    vertical-align: text-bottom;
    width: 250px;
    height: 72px;
    background-color: black;
}


#numBtnsContainer {
    display: flex;
    flex-wrap: wrap;
    background-color: black;
}

#operatorBtnsContainer {
    display: flex;
    width: 100px;
    flex-wrap: wrap;
    background-color: black;
}